/* All Tag style start */
*{margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;}
/* All Tag style end */

/* all body style  */
html{background-color:#6b6c6d;}


body{width:800px;
     background-color: white;
     margin: auto;}
/* all body style  */

/* header section all style start  */
header{height:380px;
      background-color:#FCEEF1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
header>.headerBanerText{width: 45%;
                        padding-top:20px;
                       height:fit-content;}
.headerBanerText>.Title{font-size:2rem;
                        color:#272727;
                        font-weight:900;

                      }
.headerBanerText>.Desc{font-size: 0.5rem;
                  color: rgba(48, 48, 48, 0.475);
                  font-weight: 400;
                      margin: 10px 0px;
                       line-height: 12px;
                       line-height: 12px;
                      }

.btn{background-color: #E55473;
     border: none;
     border-radius: 4px;
     font-weight: 400;
    color:rgb(237, 237, 237);
    font-size:9px;
    padding:9px 18px;}                       
header>.Banerimg{width: 35%;
               height: 100%;
               position: relative;
              }
header>.Banerimg>img{width: 100%;
                    position: absolute;
                    bottom: 0px;  
                  }             

/* header section all style end  */


/* Our Featured Flowers Section start  */
.ourFeaturedFlocontaner{
  height:370px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  margin-top:40px;
}

.FTitle{font-size:1rem;
  color:#272727;
  margin-bottom:20px;}
.Fdesc{font-size:.5rem;       
  color: rgba(48, 48, 48, 0.475);}
.flwerboxscontaner{width: 100%;                
                     display: flex;
                     margin-top:15px;
                   justify-content: space-between;
                   gap: 10px;}
.pbox{width: 100%;}
.pbox>a{text-decoration:none;
        font-size: .5rem;
        margin-top:20px;
        background-color: #d55773;
        color:rgba(52, 52, 52, 0.761);
        padding: 5px 10px;
        font-weight:400;
        border-radius: 4px;
      display: inline-block;}
      .pbox>a:hover{background-color: red;
                  color: white;}      

     
      
 
.flwerbox1{
         height:220px;
         background-color:#F1DDE7;
            border-top-left-radius:50% ;
          border-top-right-radius:50% ;
          display: flex;
          justify-content: center;
          align-items: end;}
.flwerbox2{
         height:220px;
         background-color: #D9EFF0;
            border-top-left-radius: 50% ;
          border-top-right-radius:50% ;
          display: flex;
          justify-content: center;
          align-items: end;}
.flwerbox3{
           height:220px;
         background-color:#E3EBDB;
            border-top-left-radius:50% ;
          border-top-right-radius:50% ;
        display: flex;
          justify-content: center;
          align-items: end;}
          
.flwerbox1>img{height:85%;}
 .flwerbox2>img{height:85%;}
 .flwerbox3>img{height:85%;}            
/* Our Featured Flowers Section end  */

/* helping sectin all style start */
.HelpingSection{background-color:#F4F4F4;
               height:130px;
               width: 80%;
               margin: auto;
               border-radius:8px;
               display: flex;
               justify-content: center;
               align-items: center;
               margin-top:30px;
               margin-bottom:50px;
              }
.HelpingSection>table{width:100%;
                      text-align: center;}  
tr:first-child>td{padding-bottom: 8px;}                                 
.HelpingSection td{
  color: rgba(54, 54, 54, 0.905);
                    font-size: .6rem;
                    letter-spacing: .4px;
                   font-weight:700;} 

 .HelpingSection td img{width: 40px;}
/* helping sectin all style start */

/* hot deal sale up start */

.hotdealcontent{
               background-color:#FDF6F8;
                 width:100%;
                 height:270px;
                 margin: auto;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 margin-bottom:50px;
                }       
.hotdealcontent > .text{width: 50%;
                         text-align: center;}
.hotdealcontent > .text  > h1{font-size:1rem;}
.hotdealcontent > .text  > h1 >span{color: tomato;}
.hotdealcontent > .text  > p{font-size:.5rem;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 12px;
                     font-weight: 400;
                  color: rgba(45, 45, 45, 0.575);}


.hotdealcontent > .img{width: 25%;}

.hotdealcontent > .img >img{width:150px;}
                 
/* hot deal sale up end */

/* instagram style start  */
.intagram{width: 80%;
           margin: auto;
           margin-bottom:50px;
           text-align: center;}
.intagram>h1{font-size: 1rem;
  margin-bottom: 10px;}           
.intagram>p{font-size: 9px;
  color: rgba(146, 146, 146, 0.981);
    margin-bottom: 20px;
}           
.intagramPhotContaner{
                      display: flex;
                     justify-content: space-evenly;                    
                    align-items: center;
                  gap:10px;
                  padding:0px, 10px;}

.imgbox>img{
  width:100%;}                                
/* instagram style end  */

/* Get The Lates Deals section start  */
.getlealsContaner{margin: auto;
                 width: 80%;
                 height:200px;
                 background-image: url(images/Rectangle\ 9.png);
                background-repeat: no-repeat;
                background-size:cover;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                margin-bottom:50px;
               }            
.getcontan{
  width:80%;
  height: fit-content;
  text-align: center;}
.getcontantitle{font-size:1rem;
               font-weight:800;}

.getcontandesc{font-size:.59rem;
               margin-top:4px;
               color: rgba(146, 146, 146, 0.981);
               }

.subbox{ margin-top:16px;
            display: flex;
             align-items: center;
            justify-content: center;
            gap:5%;}
.subbox>input[type="text"]{width:60%;
                         border-radius:4px;
                           background-color:  #FFF;
                           border: none;
                           padding:6px;}
.subbox>input[type="text"]::placeholder{font-size:9px;
color: #7b7b7a;}                           
/* Get The Lates Deals section end  */

/* all footer style start  */
footer{background-color:#111010;
        display: flex;
      align-items: center;
    justify-content:center;
    color: wheat;
    width:100%;
    height:200px;
    text-align: center;
}
.footcontaner{
  width: fit-content;
  height: fit-content;
}
.foottitle{margin-bottom: 20px;
           font-size:1.5rem;}
.foottitle>span{color:#e55473d0;}
.footdesc{margin-bottom: 20px;
          font-size:9px;
          color: rgba(208, 206, 206, 0.9);}

.footCopy{
  color: rgba(255, 255, 255, 0.40);
          font-size:8px;}
/* all footer style End  */